.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: normal;
  font-size: 4vh;
  font-style: normal;
  color: #5F96AB;

  position: absolute;
  text-align: center;
  top: 90vh;
  left: 55%;

  z-index: 30;
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url(images/404.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: 110%;
  position: absolute;
  right: 100px;
  bottom: 9px;
}
