.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: normal;
  font-size: 5vh;
  font-style: oblique;
  color: #5F96AB;

  position: absolute;
  text-align: center;
  top: 69vh;
  left: 45%;

  z-index: 30;
  filter: brightness(0.8);
}

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url(images/404.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

img {
  width: 110%;
  position: absolute;
  right: 100px;
  bottom: 9px;
}

img[alt="nuvens"] {
  filter: brightness(2) saturate(0.1);
  width: 100%;
  height: auto;
  opacity: 0.8;
}

@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}
